.page-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 70%;
}

@media (max-width: 1200px) {
  .page-content {
    max-width: 95%;
  }
}

.blog-post {
  display: flex;
  margin: 4rem 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  flex-direction: row;
}

.blog-post-image {
  flex: 1;
  text-align: center;
  margin: 0 auto
}

.blog-post-content {
  flex: 2;
  margin-left: 20px;
  text-align: left;
}

.blog-content {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.blog-content h1,
.blog-content h2,
.blog-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 16px;
  margin: 8px 0;
}

.blog-post-content h4 {
  margin-top: 0;
}

.blog-post-content a {
  font-size: 16px;
  color: #007acc;
  text-decoration: none;
}

.blog-post-content a:hover {
  text-decoration: underline;
}

.blog-post.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  list-style: none;
}

ul {
  padding-left: 20px;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.featured-image {
  display: block;
  margin: 3rem auto;
  max-width: 100%;
  height: auto;
}

.featured-image-main {
  width: 100%;
  height: 100%;
}

.publish-date {
  font-size: 0.9em;
  color: #555;
}

.introduction {
  margin: 4rem 0;
}

.featured-image-main {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.publish-date {
  font-size: 14px;
  color: #888;
}






.styled-button {
  background-color: #527ABD; /* Color de fondo del botón */
  border: none; /* Quitar el borde del botón */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno del botón */
  cursor: pointer; /* Cambiar el cursor cuando se pasa sobre el botón */
}

.styled-button a {
  text-decoration: none; /* Quitar el subrayado del enlace */
  color: white; /* Color del texto del enlace */
  font-weight: bold; /* Hacer el texto en negrita */
  display: block; /* Hacer el enlace ocupe todo el botón */
  text-align: center; /* Centrar el texto */
}

.styled-button:hover {
  background-color: #3f5f9a; 
}








@media (max-width: 768px) {
  .blog-post {
      flex-direction: column;
  }

  .blog-post-image {
      margin-right: 0;
      margin-bottom: 20px;
  }
}