---
import Layout from "../layouts/Layout.astro";
import LoginForm from "@modules/Admin/LoginForm";
---

<Layout
    title="Login"
    description="Iniciar sesion"
>
    <main class="page-content">
        <LoginForm client:only />
    </main>
    
</Layout>
