---
import Layout from "../layouts/Layout.astro";
import { getBlogPosts } from '@utils/fetchBlogPosts';
import type { BlogPost } from "@utils/types";
import BlogContent from "@modules/Blog";

// @ts-ignore
const posts: BlogPost[] = await getBlogPosts();
---

<Layout
    title="Blog"
    description="Lee las últimas entradas del blog."
>
    <main class="page-content">
        <BlogContent posts={posts} />
    </main>
</Layout>