---
import Layout from "../layouts/Layout.astro";
import { getBlogPosts } from '../fetchBlogPosts';
import '../styles/blog.css'; // Importar el archivo CSS
import type { BlogPost } from "types";
import BlogContent from "@modules/Blog/BlogContent";

// @ts-ignore
const posts: BlogPost[] = await getBlogPosts();
---

<Layout
    title="Blog"
    description="Lee las últimas entradas del blog."
>
    <main class="page-content">
        <h1>Blog</h1>
        <BlogContent posts={posts} />
    </main>
</Layout>